 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Raleway", sans-serif;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        header {
            background-color: #dde5b6;
            height: 60px;
            width: 99%;
            margin: 5px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            z-index: 1;
            border: none;
            outline: none;
        }

        .first, .second, .third {
            display: flex;
            align-items: center;
        }

        .second {
            justify-content: center;
            flex-grow: 1;
        }

        .third {
            justify-content: flex-end;
        }

        .first p, .third p {
            background-color: black;
            color: #fff;
            padding: 5px 8px;
            border-radius: 5px;
            margin: 0 10px;
            display: flex;
            align-items: center;
        }

        .first p i, .third p i, .second p i {
            margin-right: 8px;
            align-items: center;
        }

         .menu-icon {
            visibility: hidden;
            background-color: black;
            color: #fff;
            padding: 5px 8px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .contact-info {
            display: none;
            position: absolute;
            top: 70px;
            right: 20px;
            background-color: black;
            color: white;
            padding: 10px;
            border-radius: 8px;
        }

        .video-section {
            position: relative;
            height: 90vh;
            overflow: hidden;
            margin: 5px 12px;
            border-radius: 20px;
            background-image: linear-gradient(to top, rgba(0, 0, 0, .9),rgba(0, 0, 0, 0.1));
                
        }

        .background-video {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
            z-index: -1;

        }

        .video-content {
            position: relative;
            z-index: 1;
            color: white;
            top: 65%;
            transform: translateY(-50%);
            width: 100%;
            padding: 0 20px;
            text-align: left;
            margin-top: 30px;
        }

        button {
            padding: 10px 15px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 600;
            border: none;
            outline: none;
            margin: 10px;
        }

        span {
            padding: 15px 15px;
            border-radius: 15px;
            font-size: 14px;
            font-weight: 600;
            border: none;
            outline: none;
            background-color: black;
            color: #fff;
            margin: 20px 10px;
            display: inline-block;
        }

        .video-content p {
            font-size: 50px;
            font-weight: 400;
            padding: 10px;
        }

        .section-two {
            background-color: #ecf39e;
            padding: 20px;
            margin: 20px;
            border-radius: 14px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

         .box {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            flex-grow: 1;
            flex-basis: 200px;
        }

        .box .left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .box button {
            margin-bottom: 20px;
        }

        .box .right {
            max-width: 100%;
        }

        .right {
            font-size: 40px;
            font-weight: 600;
            line-height: 1.3;
        }

        .left span {
            border-radius: 15px;
            font-size: 14px;
            font-weight: 600;
            border: none;
            outline: none;
            background-color: black;
            color: #fff;
            margin-right: 30px;
        }

        .box-2 {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

         .row1 {
            padding: 20px;
            background-color: white;
            border-radius: 20px;
            min-width: 250px;
            flex: 1;
            flex-direction: row-reverse;
        }
         .row1 p 
         {
            margin: 10px;
         }

        .row1 img { 
            height: auto;
            width: 100%;
            border-radius: 20px;
        }
        @media (max-width: 1123px)
        {
            .row1 img
            {
                width: 100%;
                margin: 20px 10px 20px 0px;
            }
        }

        @media (max-width: 768px) {
            header {
                flex-direction: row;
                height: 50px;
                padding: 10px;
                width: 98%;
            }

           

            .menu-icon {
                position: absolute;
                right: 5px;
                margin-right: 10px;
                visibility: visible;
            }

            .first, .second, .third {
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin: 5px 13px;
            }

            .first {
                justify-content: flex-end;
            }

            .first {
                display: none;
            }

            .first p i {
                display: block;
            }

            .third {
                margin-left: 20px;
            }

            .video-content p {
                font-size: 40px;
            }

            .section-two {
                flex-direction: column;
            }

            .box {
                flex-direction: column;
                align-items: center;
            }

            .right {
                font-size: 20px;
            }

            .box-2 {
                flex-direction: column;
            }

            .row1 {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            .row1 img {
                height: auto;
                width: 100%;
                max-width: 400px;
            }
        }

         @media (max-width: 740px) {
            .first {
                display: none;
            }

           

            .menu-icon {
                display: flex;
                position: absolute;
                right: 10px;
            }

            .third {
                display: none;
            }
        }

        @media (max-width: 480px) {
            .video-content p {
                font-size: 24px;
            }

            .right {
                font-size: 18px;
            }

            button, span {
                font-size: 12px;
                padding: 8px 12px;
            }

            .box {
                padding: 15px;
            }

            .row1 img{
                display: flex;
                flex-direction: column-reverse;
            }
        }

        
          /*  Section 3 */

        .sec-2
        {
            background-image: url('back.jpg');
            height: 60vh;
            margin: 0 px 20px;
            border-radius: 20px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .sec-2 p 
        {
            text-align: center;
            font-size: 5vmin;
            font-weight: 600;
            padding: 20px;
            margin-top: 10%;
            
        }
        .sec-2 span1
        {
            color: dimgrey;
            font-weight: 400;
        }



      /*section 4*/

     .sec-3 {
    display: flex;
    flex-wrap: wrap;
}
.sec-3 h1
{
     font-size: 40px;
     margin: 20px;
}

.col-1, .col-2 {
    padding: 20px;
    width: 100%;
     background-color: #ecf39e;
}

.col-1 {
    order: 1;
}

.col-2 {
    order: 2;
    text-align: center;
    background-color: #ffffff;

}
.col-2 p  
{
    padding: 10px 3rem;
    background-color: #ecf39e;
    border-radius: 20px;
    margin: 20px;

}

.col-2 img {
    width: 90%;
    height: auto;
    border-radius: 80px 10px 80px 10px;
    
}

nav {
    margin-top: 20px;
}

.dropdown {
    margin-bottom: 15px;
}

.dropdown-label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    background: #ffffff;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
}

.plus-icon {
    margin-left: 10px;
    font-size: 40px;
    padding: 0px;
    width: 40px;
    text-align: center;
    background-color: #ecf39e;
    color: #000;
}

.dropdown-input {
    display: none;
}

.dropdown-content {
    display: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    background: #fafafa;
}

.dropdown-input:checked + .dropdown-content {
    display: block;
}

@media(min-width: 768px) {
    .col-1, .col-2 {
        width: 50%;
    }
    .col-1 {
        order: 1;
    }
    .col-2 {
        order: 2;
    }
}


.section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 80vh;
    background: url('img4.jpg') no-repeat center center/cover;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.left-box, .right-box {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

.left-box {
    width: 600px;
}

.left-box p {
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
}


.left-box img {
    width: 100%;
    border-radius: 20px;
}

.right-box {
    position: relative;
    width: 500px;
    top: 5%;
    bottom: auto;
    right: auto;
    border-radius: 30px 10px 30px 10px;
}

.right-box p {
    padding: 10px 0;
}

.right-box button {
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
    margin: 10px;
    cursor: pointer;
    background-color: lightgray;
    color: #000;
}

.right-box span {
    display: inline-block;
    padding: 15px 15px;
    width: 90%;
    height: 50px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: black;
    color: #fff;
    margin: 20px 0;
    text-align: center;
}


@media (max-width: 768px) {

    .section 
    {
        height: 100vh;
    }
    .left-box, .right-box {
        width: calc(100% - 20px);
        margin: 10px auto;
    }

    .right-box button {
        width: 50%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .left-box p {
        font-size: 16px;
    }

    .right-box {
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
    }

    .right-box button {
        padding: 10px;
        font-size: 12px;
    }

    .right-box span {
        font-size: 12px;
        padding: 10px;
        height: auto;
    }
}



/* Preloader styling */
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .preloader img {
    width: 100px; /* Adjust size as needed */
    height: auto;
  }
  /* Hide main content initially */
  #main-content {
    display: none;
  }


  .content-section {
    padding: 20px;
    text-align: center;
  }

  .content-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
  }

  .content-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
 

  .content-box img {
    width: 300px;
   
  }
  .logo-content img 
  {
    width: 150px;
    margin: 20px;
  }
   .logo-content p 
   {
     padding: 0 40px;
   }
  .content-box-text {
    max-width: 500px;
    text-align: center;
  }

  .social-media-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .social-media-icons a {
    margin: 0 10px;
    text-decoration: none;
  }

  .social-media-icons a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
   .social-media-icons a img:hover
   {
     transform: scale(1.4);
     transition: 0.5s;
   }

  .footer-section {
     background-color: #ecf39e;
    padding: 20px;
    text-align: center;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-content div {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    text-align: center;
  }

  .footer-content div h4 {
    margin-bottom: 10px;
  }

  @media (min-width: 768px) {
    .content-box {
      flex-direction: row;
      width: 300px;
    }

    .content-box img {
      margin-right: 20px;
      margin-bottom: 0;
      width: 300px;
      margin: 10px;
    }

    .content-box-text {
      text-align: left;
    }

    .footer-content {
      flex-direction: row;
    }
  }

   @media (min-width: 480px) 
   {
     .content-box img 
     {
        width: 300px;
     }
   }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }